Vagrant.configure("2") do |config|
    config.vm.network "forwarded_port", guest: 8500, host: 8500, protocol: "tcp"
    config.vm.network "forwarded_port", guest: 8501, host: 8501, protocol: "tcp"
    config.vm.network "forwarded_port", guest: 8500, host: 8500, protocol: "udp"
    config.vm.network "forwarded_port", guest: 8501, host: 8501, protocol: "udp"
    #config.vm.box_download_insecure = true
  end